@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    min-width: 0;
}

input {
    color-scheme: dark;
}

._day_selected_2a8vt_59, ._day_selected_2a8vt_59:focus-visible, ._day_selected_2a8vt_59:hover {
  background-color: #6a9620;
}

input::-webkit-calendar-picker-indicator {
  position: absolute;
  width: 500px;
  height: 50px;
  padding: 0;
  color: transparent;
  background: transparent;
}

.custom-scroll::-webkit-scrollbar {
  width: 3px; /* Largura da barra de rolagem */
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent; /* Cor do fundo da barra de rolagem */
  border-radius: 4px; /* Bordas arredondadas */
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #888; /* Cor do "polegar" da barra de rolagem */
  border-radius: 4px; /* Bordas arredondadas */
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor do "polegar" da barra de rolagem ao passar o mouse */
}

input[type="radio"]:checked {
  accent-color: #bef264;
}


